      <footer class="footer">


        Acknowledgement 
        <ul class="footer-links">
          <MMF>
            <a href="https://www.mmf.ac.uk/" class="footer-links-kudos"> Money Macro and Finance Society <img src="{{ "images/MMF.png" | relURL }}"  width="22" height="22"></a>
          </MMF>
          <UoB>
            <a href="https://www.birmingham.ac.uk/schools/business/index.aspx" class="footer-links-kudos"> University of Birmingham <img src="{{ "images/UoB.png" | relURL }}" width="20" height="22"></a>
          </UoB>
          <UoL>
            <a href="https://www.birmingham.ac.uk/schools/business/index.aspx" class="footer-links-kudos"> University of Liverpool <img src="{{ "images/Liverpool.png" | relURL }}"  width="20" height="25"></a>
          </UoL>
          <Elsevier>
            <a href="https://www.elsevier.com/en-gb" class="footer-links-kudos"> Elsevier <img src="{{ "images/Elsevier.png" | relURL }}"  width="20" height="25"></a>
          </Elsevier>

        </ul>
      </footer>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
